.app__ourProjects{
  width: 100%;
  height: 100vh;
  background-color: var(--color-black);
  overflow: hidden;
}

.app__ourProjects-images{
  display: flex;

}
.projects_image{
  width: 33%;
  cursor: pointer;
  object-fit: cover;
  position: relative;

  .projects_image-icon{
    font-size: 80px;
    color: var(--color-white);
    position: absolute;
    width: 100%;
    bottom: 50%;
    opacity: 0;
  }

  & h2{
    position: absolute;
    bottom: 5%;
    padding: 2rem;
    font-size: 1.6rem;
    letter-spacing: 0.07em;
  }
}

.projects_image img{
  height: 100vh;
}

.projects_image:hover {
  .projects_image-icon{
    opacity: 1;
  }

img{
  filter: brightness(50%);
}
}