@import "shared/styles/variables";
.logo {
  display: flex;
  position: absolute;
  z-index: 4;
  cursor: pointer;

  .img{
    object-fit: cover;
    width: 150px;
    height: 50px;
    background-color: transparent;
    position: absolute;
  }

  &--title {
    letter-spacing: 5px;
    font-size: 3rem;
    font-weight: bold;
  }
  p {
    font-size: 1.2rem;
    line-height: 92px;
  }
}
