.accordion{
  padding: 1rem !important;
  margin:  0 !important;
}
.details{
  color: var(--color-black);
}
.icon{
  color:var(--color-black);
}
.summary{
  padding: 1rem;
}
.fa{
  text-align: right !important;
}