@import "shared/styles/variables";
.app_subHeading{
  width: 100%;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.app_subHeading-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.app_subHeading-title h4{
  font-size: 14px;
  color: var(--color-grey);
  font-weight: 400;

}

.app_subHeading-description{
  width: 100%;
  color: var(--color-white);
  flex-wrap: wrap;



  h1{
    font-size:36px;
    font-weight: bold;
    font-family: var(--font-base);
    letter-spacing: 0.09em;
  }
}