@import "shared/styles/variables";

.footer {
  object-fit: cover;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  color:#fff;


  .left {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .logo {
      height: 100px;
    }
  }
  .center{
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    flex-direction: column;

    .kavak-info {
      line-height: 1.4;
      color: $palette-gray-14;


      .icon {
        display: flex;
        padding-bottom: 0.7em;

        & > span {
          padding-right:  5px;
        }

        .phone {
          display: flex;
          flex-direction: column;
        }
      }
    }
    .social {
      right: 10px;
      display: flex;
      padding-top: 10px;

      &__icon {
        cursor: pointer;
        padding: 0 5px;

        > a {
          color: white;

          .instagram:hover {
            color: #d63085;
          }
          .linkedin:hover {
            color: #0a66c2;
          }
          .email:hover {
            color: #ea4335;
          }
        }
      }
    }
  }
}
